body {
  background: #3f3f3f;
  color: white;
}

canvas {
  border: solid 5px black;
}

#score_container {
  float: right;
  display: inline;
}

#pause_menu, #restart_menu, #play_menu {
  display: none;
}

button {
  font-size: 12px;
  font-family: Arial;
  width: 140px;
  height: 30px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: -1px 5px 0px 0px #8a2a21;
  text-shadow: 0px 1px 0px #810e05;
  background: linear-gradient(#c62d1f, #f24437);
}

#logo {
  font-family: helvetica;
  font-size: 1.4em;
}